body{
    font-size: 1em;
    font-family: Serif;
    background-color: #b6fcd5;
}

nav{
    color: black;
}

nav ul li a{
    color: black;
    font-size: 1em;
    font-family: Serif;
}

div p{
    font-size: 0.8em;
    font-family: Serif;
}

div tr td{
    font-size: 0.8em;
    font-family: Serif;
}

.alert{
    font-size: 0.8em;
}

div div div div form p label{
    font-size: 0.9em;
    font-weight: bold;
    color: black;
    font-family: Serif;
}

.currentuser{
    font-size: 1.4em;
}